{% extends 'chat/base.html' %}

{% block content %}
<meta http-equiv="Refresh" content="5">
<div class=local-header>
<h2> Chatting with {{receiver.username}} ... </h2>
<a href="{% url 'logout' %}" class="btn btn-info" role="button">Logout</a>
<a href="{% url 'home' %}" class="btn btn-info" role="button">Return home</a>
</div>
<div class=chat-history>
{% for message in messages_all %}
{{message.author.username}} : {{message.text}} <br>
{% endfor %}
</div>
<div class=send-box>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
</div>
{% endblock %}