{% extends 'chat/base.html' %}

{% block content %}
<div class=local-header>
<h1> Welcome to ChatsApp </h1>
<a href="{% url 'logout' %}" class="btn btn-info" role="button">Logout</a>
</div>
<p> Currently, these people are available: <br>
To chat with any of them, just click on their username. </p>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Username</th> 
  </tr>
{% for user in users %}
  <tr>
    <td>{{user.first_name}} {{user.last_name}}</td> 
    <td><a href="{% url 'chat_window' pk=user.pk %}">{{ user.username }}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}