{% extends 'chat/base.html' %}

{% block content %}
<div class=about>
	<p> Utterly lets you freely chat with your friends from various social networks. <br> Signing up is free and easy. <br> Just connect your favorite social media account or sign up using below form. </p>
</div>
<div class=mail-sign-up>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '132285367318624',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<li><a href="{% url 'register' %}"> Sign up using email </li> </a>
</div>
<p> Already have an account? Login <a href="{% url 'login' %}">here</a>. </p>
{% endblock %}